@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html {
  font-size: 50%;
}
body {
  font-family: "Asap", sans-serif;
}
.container {
  max-width: 1200px;
}
.expl-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.expl-title h2 {
  font-size: 2rem;
  color: #3f3424;
}
.expl-title .stroke {
  flex: 1;
  height: 1px;
  background: #ccc;
  margin-left: 15px;
}
.expl-province {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}
.expl-province-item {
  padding: 10px 20px;
  text-align: center;
  border-radius: 99px;
  background: #ccc;
  color: #3f3424;
  cursor: pointer;
}
.expl-province-item-checked {
  padding: 10px 20px;
  text-align: center;
  border-radius: 99px;
  background: #af7b38;
  color: #fff;
  cursor: pointer;
}
.province-item-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.province-item-desc {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
}
.expl-district {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.expl-district a {
  border-radius: 5px;
}
.expl-district-item {
  border-radius: 5px;
  /* background: #ccc; */
  color: #fff;
  height: 200px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.expl-district-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.expl-district a:nth-child(1) {
  background: url("../img/ex3_img_quan2.jpg") no-repeat center / cover;
}
.expl-district a:nth-child(2) {
  background: url("../img/ex3_img_quan7.jpg") no-repeat center / cover;
}
.expl-district a:nth-child(3) {
  background: url("../img/ex3_img_quan9.jpg") no-repeat center / cover;
}
.expl-district a:nth-child(4) {
  background: url("../img/ex3_img_tanbinh.jpg") no-repeat center / cover;
}
.expl-district a:nth-child(5) {
  background: url("../img/ex3_img_thuduc.jpg") no-repeat center / cover;
}
.expl-district a:nth-child(6) {
  background: url("../img/ex3_img_binhchanh.jpg") no-repeat center / cover;
}
.district-item-title {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 2.4rem;
  font-weight: 500;
}
.district-item-desc {
  position: absolute;
  bottom: 25px;
  left: 20px;
  font-weight: 300;
}
.district-item-desc .big-number {
  font-size: 1.8rem;
  font-weight: 500;
}

.expl-province-item:hover {
  background: #af7b38;
  color: #fff;
}
.expl-district-item:hover::before {
  background: rgba(0, 0, 0, 0);
}
