body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.wrapper {
  width: 600px;
}
p {
  margin-bottom: 2rem;
}
.input_row {
  display: flex;
  justify-content: space-between;
}
.input_row .form-group {
  width: 47%;
}
.input_row .form-group label {
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
}
.input_row .form-group div {
  margin: 0.3rem 0 1rem;
}
.input_row .form-group input,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: #797474;
}
.submit_row {
  margin-top: 0.5rem;
}
button {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #45a049;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
