@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  /* outline: 1px solid #ccc; */
}
img {
  display: block;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1320px;
  padding: 0 12px;
}
.section-header {
  padding: 40px 0;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-second-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-second-menu ul {
  display: flex;
}
.nav-second-menu ul li {
  margin: 20px;
}
.nav-second-menu ul li a {
  padding: 8px 0;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.nav-second-menu ul li a:hover {
  color: #f55253;
}
.nav-second-menu ul li a.active {
  color: #f55253;
}
.nav-second-func {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
form.nav-second-func-search {
  display: flex;
  margin-right: 10px;
}
form.nav-second-func-search button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
form.nav-second-func-search input {
  border: none;
  outline: none;
  font-size: 1.4rem;
}
form.nav-second-func-search input::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #4d4d4d;
  transition: 0.2s ease;
}
form.nav-second-func-search input:focus::placeholder {
  opacity: 0;
}
.nav-second-func-cart {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-second-func-cart::before {
  content: "";
  display: block;
  width: 2px;
  height: 27px;
  margin-right: 15px;
  background: #f2f2f2;
}
.nav-second-func-cart::after {
  content: "2";
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #f55253;
  color: #fff;
  box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  right: -25px;
}
.header-content {
  padding: 80px 0;
}
.col-content {
  display: flex;
}
.col-content-first {
  width: 50%;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-first-top-txt {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0px 0px 8px;
}
.top-txt-bg {
  padding: 12px 16px;
  background: #fdecec;
  display: flex;
  align-items: center;
  color: #f55556;
  width: fit-content;
  border-radius: 99px;
  margin-bottom: 20px;
}
.top-txt-bg h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
}
.top-txt-bg span {
  margin-left: 10px;
}
.content-first-title {
  font-size: 4rem;
  line-height: 5.4rem;
  font-weight: 700;
  color: #2e2e2e;
}
h1.content-first-title {
  font-size: 7.4rem;
  line-height: 8.8rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}
h1.content-first-title span {
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #f54748;
}
.content-first-para {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.005em;
  color: #676767;
  max-width: 80%;
  margin: 22px 0;
}
.content-first-func {
  display: flex;
  align-items: center;
}
.primary-btn {
  display: block;
  background-color: #f86061;
  border-radius: 12px;
  width: 186px;
  padding: 25px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  color: #fffafa;
  border: 1px solid #f86061;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.primary-btn:hover {
  background-color: #fffafa;
  color: #f86061;
}
.first-func-order-now {
  margin-right: 24px;
}
.first-func-order-process a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 224px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
}
.first-func-order-process span {
  border-radius: 50%;
  box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
}
.col-content-second {
  width: 50%;
  padding: 0 12px;
}
.col-content-second > img {
  width: 100%;
}
.section-service {
  padding: 100px 0;
  background-color: #fef5f5;
}
.section-service-row .col-content-first {
  text-align: center;
  margin: 0 auto;
}
.section-service-row .col-content-first .content-first-top-txt {
  color: #f55556;
}
.section-service-row .col-content-second {
  width: 80%;
  margin: 60px auto 20px;
  display: flex;
  justify-content: space-between;
}
.content-second-box {
  width: 28%;
  position: relative;
}
.content-second-box .box-bg {
  content: "";
  display: block;
  width: 105%;
  height: 108%;
  position: absolute;
  top: 0;
  left: 5px;
  background: #FE6A6A;
  border-radius: 12px;
  transform-origin: 30% 0;
  opacity: 0;
  transition: 0.2s ease;
  transition-property: rotate, opacity;
  pointer-events: none;
}
.content-second-box:hover .box-bg {
  rotate: -3deg;
  opacity: 1;
}
.content-second-box .box-content {
  padding: 50px 28px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  position: relative;
}
.content-second-box img {
  margin: 0 auto 60px;
  height: 60px;
}
.content-second-box h3 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 600;
  color: #2e2e2e;
  margin-bottom: 15px;
}
.content-second-box p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #676767;
  margin-bottom: 10px;
}
.section-explorer,
.section-order {
  padding: 50px 0;
}
.section-download {
  padding: 100px 0;
  background-color: #FEF5F5;
}
.section-explorer-row,
.section-download-row {
  flex-direction: row-reverse;
}
.section-explorer-row .col-content-first {
  width: 40%;
}
.section-explorer-row h2 {
  max-width: 80%;
}
.section-order-row h2 {
  max-width: 90%;
}
.section-explorer-row h5 {
  color: #03A66B;
}
.section-order-row h5 {
  color: #F9BA45;
}
.section-download-row h5 {
  color: #F54748;
}
.section-explorer-row .col-content-second {
  width: 60%;
}
.section-download-row .col-content-second img {
  width: auto;
  margin: 0 auto;
}
.section-explorer-row .primary-btn,
.section-order-row .primary-btn {
  margin: 30px 0 20px;
  width: 200px;
}
.section-download-row .basic-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 18px 2px;
  border-radius: 12px;
  border: 1px solid #EEDCDC;
  width: 200px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  color: #2E2E2E;
}
.section-download-row .content-first-func {
  margin: 60px 0 20px;
}
.section-download-row .first-func-download-app {
  margin-right: 20px;
}
.section-footer {
  padding-top: 50px;
  color: #212529;
}
.footer-first {
  display: flex;
  font-size: 1.6rem;
  color: #676767;
}
.footer-first-logo {
  width: 31%;
  padding: 10px 12px;
}
.footer-first p {
  max-width: 75%;
  margin: 25px 0 10px;
}
.footer-first .footer-first-subcribe p {
  max-width: 100%;
}
.footer-first-company,
.footer-first-service,
.footer-first-subcribe {
  width: 23%;
  padding: 20px 12px;
}
.footer-first .footer-first-col-title{
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #2E2E2E;
}
.footer-first .footer-first-col-desc {
  margin: 30px 0 10px;
}
.footer-first .footer-first-col-desc li a {
  line-height: 4rem;
  color: #676767;
}
.footer-first .footer-first-col-desc li a:hover {
  color: #000;
}
.footer-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 30px;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.footer-second-all-right {
  color: #8c8c8c;
}
.footer-second-more {
  display: flex;
  align-items: center;
  color: #747474;
  font-weight: 500;
}
.footer-second-more a {
  margin: 0 10px;
}
.footer-second-more a:hover {
  color: #000;
}
