.container {
	max-width: 500px;
	padding: 2rem 5rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.container p {
	font-style: italic;
}
.container p::before {
	content: "“";
	top: 0;
	left: 0;
}
.container p::after {
	content: "”";
	bottom: 0;
	right: 0;
}
.container p::before,
.container p::after {
	font-size: 3rem;
	position: absolute;
	display: inline-block;
	background-color: #ddd;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	text-align: center;
	line-height: 1.6;
}
