.container {
  max-width: 500px;
  padding: 2rem 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.container blockquote {
  font-style: italic;
}
.container blockquote::before {
  content: "“";
  top: 0;
  left: 0;
}
.container blockquote::after {
  content: "”";
  bottom: 0;
  right: 0;
}
.container blockquote::before,
.container blockquote::after {
  font-size: 3rem;
  position: absolute;
  display: inline-block;
  background-color: #ddd;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 1.6;
}
