@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  color: #666;
}
.container {
  text-align: center;
  background-color: #f2f1f1;
}

h2 {
  margin-bottom: 20px;
  font-size: 2.8rem;
  color: #333;
}

p {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group .input-box {
  width: 48%;
}

input,
select,
textarea {
  padding: 25px 20px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
select {
  padding: 20px;
  font-size: 1.6rem;
  appearance: none;
}
.input-box {
  position: relative;
}
input + label,
textarea + label{
  position: absolute;
  top: 20px;
  left: 20px;
  color: #666;
  cursor: auto;
  transition: 0.3s;
}
.input-box .arrow-icon {
  position: absolute;
  index: 0;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
textarea {
  resize: vertical;
  height: 100px;
  margin-bottom: 10px;
}

button {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 99px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #0056b3;
}
input:focus + label,
textarea:focus + label {
  top: 10px;
  left: 15px;
  padding: 0 5px;
  font-size: 1.2rem;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #948d8d;
}