@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&display=swap");
@import url("style.css");
body {
	font-family: "Lato", sans-serif;
}
input, select, textarea, button {
	font-family: inherit;
	font-size: 1.6rem;
}
/*Start setting*/
.form-heading {
	font-family: "Lobster", sans-serif;
	font-size: 4.8rem;
}
.form-description {
	color: #c1c0c0;
}
.form-description span {
	color: #ea3f33;
}
.form-contact {
	margin-top: 30px;
}
input, select, textarea, button {
	font-family: inherit;
	font-size: 1.6rem;
}
.form-contact .form-group {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: row-reverse;
}
.form-group input,
.form-group select,
.form-group textarea {
	width: 100%;
	padding: 20px;
	padding-right: 40px;
	border: 1px solid #c1c0c0;
	box-sizing: border-box;
	background-color: transparent;
}
.form-group .tooltiptext {
	visibility: hidden;
	width: fit-content;
	background-color: #333333;
	color: #fff;
	text-align: center;
	padding: 15px;
	position: absolute;
	z-index: 1;
	top: -6rem;
	left: 4rem;
	font-size: 1.3rem;
}
.form-group .tooltiptext::after {
	content: "";
	position: absolute;
	top: 95%;
	left: 30%;
	margin-left: -5px;
	border-width: 9px 12px 12px 12px;
	border-style: solid;
	border-color: #333333 transparent transparent transparent;
}
.form-group span.input-icon {
	color: #c1c0c0;
	position: absolute;
	font-size: 1rem;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 20px;
}
.form-group span.required-icon {
	z-index: -1;
	visibility: visible;
}
.form-group span.delete-icon {
	visibility: hidden;
	font-size: 1.3rem;
}
.form-group span i {
	display: inline-block;
}
.form-group select {
	appearance: none;
}
.form-group select ~ span.input-icon {
	font-size: 1.6rem;
}
.form-group textarea {
	height: 200px;
	resize: none;
	font-size: 1.6rem;
}
.form-group textarea:focus::placeholder {
	color: #e2dede;
}
.form-group textarea ~ span.input-icon {
	top: 3rem;
}
.form-group label {
	text-align: center;
	padding: 2rem 0;
	width: 7rem;
	color: #fff;
	background-color: #c1c0c0;
	font-size: 2rem;
}
.form-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form-button label {
	color: #c1c0c0;
	position: relative;
	padding-left: 40px;
	display: flex;
	cursor: pointer;
	align-items: center;
}
.form-button input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: -10px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border: 3px solid #c1c0c0;
	cursor: pointer;
}
.form-button input:checked ~ .checkmark {
	border: 3px solid #c1c0c0;
}
.checkmark::after {
	content: "";
	position: absolute;
	display: none;
}
.form-button input:checked ~ .checkmark::after {
	display: block;
}
.form-button .checkmark::after {
	left: 8px;
	top: 4px;
	width: 7px;
	height: 12px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.form-button button {
	padding: 10px 40px;
	background-color: #ea3f33;
	color: #fff;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}
.form-group:hover {
	outline: 2px solid #000;
}
.form-group:hover label {
	background-color: #000;
}
.form-group:hover span.required-icon {
	color: #a09b9b;
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
	border: 2px solid #000;
	border-left: 0;
	outline: none;
}
.form-group input:focus::placeholder {
	color: #e2dede;
}
.form-group input:focus ~ label,
.form-group select:focus ~ label,
.form-group textarea:focus ~ label {
	background-color: #000;
}
.form-group input:focus ~ .tooltiptext,
.form-group select:focus ~ .tooltiptext,
.form-group textarea:focus ~ .tooltiptext,
.form-group input:focus ~ span.delete-icon,
.form-group select:focus ~ span.delete-icon,
.form-group textarea:focus ~ span.delete-icon {
	visibility: visible;
}
.form-group input:focus ~ span.required-icon,
.form-group select:focus ~ span.required-icon,
.form-group textarea:focus ~ span.required-icon {
	visibility: hidden;
}
