@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.burger-menu {
  width: 100vw;
  height: 100vh;
  background-color: #31A8F6;
  text-align: right;
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1000px;
}
.burger-menu-content {
  padding-top: calc(50vh - 150px);
  color: #fff;
}
.content-title {
  margin-bottom: 50px;
  font-size: 5rem
}
.content-desc {
  display: flex;
  align-items: center;
  justify-content: right;
}
.content-desc .small-text {
  display: block;
  margin-right: 10px;
  font-size: 1.6rem;
  font-weight: 100;
}
.content-desc .big-text {
  display: block;
  font-size: 2.8rem;
  font-weight: 100;
}
.circle-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 16000px;
  height: 16000px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 500px rgba(0, 0, 0, 0.9);
  translate: -50% -50%;
  transition: scale 0.4s ease;
}
.burger-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 33px;
  height: 23px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: opacity 0s ease;
  transition-delay: 0.1s;
}
.burger-icon-line {
  width: 100%;
  height: 5px;
  background-color: #31A8F6;
}
.line-first,
.line-second,
.line-third {
  transform-origin: 30% 50%;
  transition: rotate 0.2s ease;
  transition-delay: 0.1s;
}
.arrow-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 33px;
  height: 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.arrow-icon-line {
  width: 30px;
  height: 5px;
  background-color: #31A8F6;
  position: relative;
  transition: rotate 0.3s ease;
  rotate: 0deg;
}
.arrow-icon-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 17.5px;
  width: 15px;
  height: 5px;
  background-color: #31A8F6;
  transform-origin: 12.5px 2.5px;
  transition: rotate 0.3s ease;
  rotate: 10deg;
}
.arrow-icon-line::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 17.5px;
  width: 15px;
  height: 5px;
  background-color: #31A8F6;
  transform-origin: 12.5px 2.5px;
  transition: rotate 0.3s ease;
  rotate: -10deg;
}
.menu {
  position: absolute;
  top: 90px;
  left: 0;
}
.menu ul li {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  text-align: left;
}
.menu ul li a label {
  display: block;
  color: #31A8F6;
  padding: 5px 60px;
  cursor: pointer;
  transition: 1s ease;
  transition-property: color, background-color;
}
input:not(#burger_item, #home_item, #about_item, #portfolio_item, #contact_item):checked ~ .circle-background {
  scale: 0.0125;
}
input:not(#burger_item, #home_item, #about_item, #portfolio_item, #contact_item):checked ~ .menu {
  opacity: 0;
}
input:not(#arrow_item):checked ~ .arrow-icon {
  z-index: 2;
}
input:not(#arrow_item):checked ~ .arrow-icon .arrow-icon-line {
  rotate: 180deg;
}
input:not(#arrow_item):checked ~ .arrow-icon .arrow-icon-line::before {
  rotate: 45deg;
}
input:not(#arrow_item):checked ~ .arrow-icon .arrow-icon-line::after {
  rotate: -45deg;
}
input:not(#arrow_item):checked ~ .burger-icon {
  opacity: 0;
  transition-delay: 0s;
  z-index: 1;
}
input:not(#arrow_item):checked ~ .burger-icon .line-first {
  rotate: 60deg;
}
input:not(#arrow_item):checked ~ .burger-icon .line-second {
  rotate: 70deg;
}
input:not(#arrow_item):checked ~ .burger-icon .line-third {
  rotate: 50deg;
}
input#home_item:checked ~ .menu label[for="home_item"],
input#about_item:checked ~ .menu label[for="about_item"],
input#portfolio_item:checked ~ .menu label[for="portfolio_item"],
input#contact_item:checked ~ .menu label[for="contact_item"] {
  color: #000;
  background-color: #EEEEEE;
}

